/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .smallpost {
    height: 300px;
    width: 300px;
    background-color: #CAF4F4;
    margin: 50px 15px;
    box-shadow: 0px 12px 12px rgba(28, 65, 84, 0.1), 0px 24px 24px rgba(28, 65, 84, 0.08), 0px 64px 48px rgba(28, 65, 84, 0.08), 0px 64px 64px rgba(28, 65, 84, 0.04);
  }

  .bigpost {
    height: 40vw;
    width: 40vw;
    background-color: #CAF4F4;
    margin: 50px 15px;
    box-shadow: 0px 12px 12px rgba(28, 65, 84, 0.1), 0px 24px 24px rgba(28, 65, 84, 0.08), 0px 64px 48px rgba(28, 65, 84, 0.08), 0px 64px 64px rgba(28, 65, 84, 0.04);
  }

  .nav {
    text-align: center;
    overflow: hidden;
    width:100%;
  }

  .nav a {
    text-align: center;
    padding: 14px 35px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .nav a:hover {
    color: #CAF4F4;
  }

  /* Home */

  .homePosts {
    overflow: hidden;
  }

  .topicName {
    font-size: 30px;
    position: relative;
    top: 35%;
  }

  #topicPost {
    text-align: center;
  }

  /* PostItMessage */

  #postItMessage {
  	max-height: 70%;
  	overflow-y: scroll;
  	margin-bottom: 50px;
    padding: 5% 10%;
    font-size: 24px;
    text-align: center;
    line-height: 2;
  }

  #messageBottom {
   text-align: center;

  }


  button {
  	
  	background-color: transparent;
  	display: inline-block;
    padding: 10px;
    margin-right: 15%;
    margin-left: 15%;
    border: 0.16em solid #223445;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #223445;
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
  }

  button:hover {
  	color: #798D97;
  	border-color: #798D97;
  }

  button:active {
  	color: #223445;
  	border-color: #223445;
  }

  /* Resources */

  .resource {
    padding: 10px;
  }

  .resourceName {
    font-size: 30px;
    letter-spacing: 3px;
  }

  .resourceHeading {
    font-size: 20px;
    letter-spacing: 2px;
  }


  .bioName{
      font-size: 30px;
      letter-spacing: 3px;
      text-align: center;

  }

  .bioDescription {
      font-size: 20px;
  }

  .bioColumnLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bioImage {
    width: 100%;
    height: 740px;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 61px;
    overflow: hidden;

  }

  #content {
    width: 300px; height: 300px;
    transition: all 1s ease-in-out;
  }

